<div class="page-wrapper">
    <div class="container-xl">
        <div class="page-header d-print-none">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <h2 class="page-title">Repertório: <%= @repertory.name %></h2>
                        <h3>Criado por: <%= @repertory.user.name %></h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-body">
            <div class="container-xl">

                <div class="card">
                 
                  <div class="card-body">
                    <div class="accordion" id="accordion-musics">
                    <% @repertory.musics.each_with_index do |music, index| %>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-<%= index %>">
                                <button
                                    class="accordion-button <%= index == 0 ? '' : 'collapsed' %>"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapse-<%= index %>"
                                    aria-expanded="true">
                                <%= music.name_and_author%>
                                </button>
                            </h2>
                                
                            <div id="collapse-<%= index %>" class="accordion-collapse collapse <%= index == 0 ? 'show' : '' %>" data-bs-parent="#accordion-musics">
                                <div class="accordion-body pt-0">
                                    <% if music.chords.empty? %>
                                        <%= simple_format(music.lyrics) %>
                                    <% else %>
                                        <pre><%= music.chords %></pre>
                                    <%end%>
                                </div>
                            </div>
                        </div>
                    <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>