<div class="container-xl">
  <div class="page-header d-print-none">
    <div class="row g-2 align-items-center">
      <div class="col">
          <h2 class="page-title">Repertório: <%= @repertory.name %></h2>
      </div>
      <div class="col-12 col-md-auto ms-auto d-print-none">
        <div class="btn-list">
          <a href="<%= repertory_path(@repertory)%>/share" target="_blank" class="btn btn-info">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-share" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <circle cx="6" cy="12" r="3"></circle>
              <circle cx="18" cy="6" r="3"></circle>
              <circle cx="18" cy="18" r="3"></circle>
              <line x1="8.7" y1="10.7" x2="15.3" y2="7.3"></line>
              <line x1="8.7" y1="13.3" x2="15.3" y2="16.7"></line>
            </svg> Compartilhar Repertório
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-body">
  <div class="container-xl">
    <div class="col-12">
      <%= render 'template/alerts' %>

      <div class="card">
        <div class="card-body">
          
          <div class="mb-3">
            <label for="" class="form-label">Músicas</label>

            <ul>
              <% @repertory.musics.each do |music| %>
                <li>
                  <%= link_to music.name_and_author, music_path(music) %>
                </li>
              <% end %>
            </ul>
          </div>

          <a href="<%= edit_repertory_path(@repertory)%>" class="btn btn-primary mb-2">Editar Repertório</a>
          
          <%= button_to "Excluir esse repertório", @repertory, method: :delete, class: "btn btn-danger" %>
        </div>
      </div>      
    </div>

    <%= link_to "Voltar aos repertórios", root_path %>
  </div>
</div>