<div id="<%= dom_id music %>">
  <div class="row">
    <div class="accordion" id="accordion-example">
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading-1">
          <button class="accordion-button <%= request.query_parameters[:tab] != "chords" ? '' : 'collapsed' %>" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true">
          Letra 
          </button>
        </h2>
        
        <div id="collapse-1" class="accordion-collapse collapse <%= request.query_parameters[:tab] != "chords" ? 'show' : '' %>" data-bs-parent="#accordion-example">
          <div class="accordion-body pt-0">
            <%= simple_format(music.lyrics) %>
          </div>
      </div>
    </div>
    <% unless music.chords.empty? %>
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading-2">
          <button class="accordion-button <%= request.query_parameters[:tab] == "chords" ? '' : 'collapsed' %>" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false">
          Cifra
          </button>
        </h2>
        
        <div id="collapse-2" class="accordion-collapse collapse <%= request.query_parameters[:tab] == "chords" ? 'show' : '' %>" data-bs-parent="#accordion-example">
          <div class="accordion-body pt-0">
            <pre><%= music.chords %></pre>
          </div>
      </div>
    <% end %>
  </div>
</div>
