<div class="container-xl">
  <div class="page-header d-print-none">
    <div class="row g-2 align-items-center">
      <div class="col">
          <h2 class="page-title">Músicas</h2>
      </div>
      <div class="col-12 col-md-auto ms-auto d-print-none">
          <div class="btn-list">
              <a href="<%= new_music_path %>" class="btn btn-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                  Nova Música
              </a>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="page-body">
  <div class="container-xl">
    <div class="col-12">
      <%= render 'template/alerts' %>

      <div class="card">
        <div class="table-responsive">
          <table class="table table-vcenter card-table table-striped">
            <thead>
              <tr>
                <th><%= t("activerecord.attributes.music.name") %></th>
                <th><%= t("activerecord.attributes.music.author") %></th>
                <th><%= t("activerecord.attributes.music.chords") %></th>
                <th class="w-1"></th>
              </tr>
            </thead>
            
            <tbody>
            <% @musics.each do |music| %>
              <tr>
                <td>
                  <a href="<%= music_path(music) %>"><%= music.name %></a>
                </td>
                <td class="text-muted">
                  <%= music.author %>
                </td>
                <td>
                  <% unless music.chords.empty? %>
                  <a href="<%= music_path(music) %>?tab=chords">Cifra</a>
                  <% end %>
                </td>
                <td>
                  <a href="<%= edit_music_path(music) %>">Editar</a>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>